from sklearn import datasets
from sklearn.datasets import load_wine
from sklearn.cluster import KMeans
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
